body{
    margin-left: 5px;
}
#template1 {
    background-color: dodgerblue;

}

#title1 {
    color: goldenrod;
    margin-left: 20px;
}

#nav1 {
    background-color: darkgreen;
    margin-left: 20px;
}

#nav1menu1 {
    color: gold;
    margin-left: 20px;
}

#template1p1 {
    color: whitesmoke;
    margin-left: 20px;
}

#template2 {
    background-color: navy;

}

#title2 {
    color: navajowhite;
    margin-left: 20px;
}

#nav2 {
    background-color: forestgreen;
    margin-left: 20px;
}

#nav2menu1 {
    color: black;
    margin-left: 20px;
}

#template2p1 {
    color: whitesmoke;
    margin-left: 20px;
}

#template3 {
    background-color: seagreen;

}

#title3 {
    color: rgb(255, 204, 0);
    margin-left: 20px;
}

#nav3 {
    background-color: royalblue;
    margin-left: 20px;
}

#nav3menu1 {
    color: white;
    margin-left: 20px;
}

#template3p1 {
    color: whitesmoke;
    margin-left: 20px;
}
#template4{
    background-color: rgb(101, 135, 235);
}
#title4{
    color: whitesmoke;
    margin-left: 20px;
}
#nav4{
    margin-left: 20px;
}
#template4p1{
    color: whitesmoke;
    margin-left: 20px;
}
#nav4menu1{
    border: 5px solid darkgreen;
}
#template5{
    background-color: rgb(223, 210, 194);
}
#title5{
    color: rgb(24, 24, 173);
    margin-left: 20px;
}
#nav5menu1{
    background-color: gold;
    color: blue;
    border: 3px solid darkgreen;
    border-radius: 50%;
    margin-left: 20px;
}
#nav5menu2{
    background-color: gold;
    border: 3px solid darkgreen;
    border-radius: 50%;
    color: blue;
}
#nav5menu3{
    background-color: gold;
    border: 3px solid darkgreen;
    border-radius: 50%;
    color: blue;
}
#template5p1{
    color: black;
    margin-left: 20px;
}
#template6{
    background-color: rgb(20, 20, 184);
}
#title6{
    color: blanchedalmond;
    margin-left: 20px;
}
#nav6menu1{
    margin-left: 20px;
}
#template6p1{
    color: blanchedalmond;
    margin-left: 20px;
}
#nav6menu1{
    border: 1px solid rgb(20, 20, 184);
    border-radius: 25%;
}
#nav6menu2{
    border: 1px solid rgb(20, 20, 184);
    border-radius: 25%;
}
#nav6menu3{
    border: 1px solid rgb(20, 20, 184);
    border-radius: 25%;
}
#nav6v2{
    margin-top: 10px;
}
#nav6menu4{
    margin-left: 20px;
    border: 1px solid rgb(20, 20, 184);
    border-radius:50%;
}
#nav6menu5{
    border: 1px solid rgb(20, 20, 184);
    border-radius:50%;
}
#nav6menu6{
    border: 1px solid rgb(20, 20, 184);
    border-radius:50%;
}
#fonttitlev1{
    font-family: 'Literata', serif;
    margin-left: 20px;
}
#fonttitlev2{
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
}
#fonttitlev3{
    font-family: 'Lobster Two', cursive;
    margin-left: 20px;
}
#fonttextv1{
    font-family: 'Raleway', sans-serif;
    margin-left: 20px;
    margin-top: 30px;
}
#fonttextv2{
    font-family: 'Quicksand', sans-serif;
    margin-left: 20px;
}
#fonttextv3{
    font-family: 'Exo', sans-serif;
    margin-left: 20px;
}
#ui-desktop{
    margin-top: 20px;
}